# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Lab13.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Belka\RiderProjects\Lab13\.idea\.idea.Lab13\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
